.about-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.intro, .skills, .experience, .education {
    margin-bottom: 3rem;
}

h1, h2 {
    margin-bottom: 1rem;
}

.skills {
    padding: 50px 0;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.skill-item {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.skill-item:hover {
    transform: translateY(-5px);
}

.skill-item h3 {
    padding: 15px;
    margin: 0;
    background-color: #444;
    color: var(--accent-color);
}
/*********************************/
.skill-content {
    display: flex;
    flex-direction: column;
}

.skill-image {
    height: 200px;
    overflow: hidden;
}

.skill-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.skill-item:hover .skill-image img {
    transform: scale(1.1);
}

.skill-text {
    padding: 15px;
    flex-grow: 1;
}

.skill-text p {
    margin: 0;
    color: var(--light-text);
}

@media (min-width: 768px) {
    .skill-content {
        flex-direction: row;
        align-items: stretch;
    }

    .skill-image, .skill-text {
        width: 50%;
    }

    .skill-image {
        height: auto;
    }
}

.experience {
    padding: 10px 0;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--accent-color);
    top: 0;
    bottom: 0;
    margin-left: -1px;
    left: 31px;
}

.timeline-item {
    padding: 10px 40px;
    left: 31px;
    position: relative;
    background-color: inherit;
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    background-color: var(--dark-bg);
    border: 4px solid var(--accent-color);
    top: 15px;
    border-radius: 50%;
    left: 21px;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 0%;
}

.right::after {
    left: -10px;
}

.timeline-content {
    padding: 20px 30px;
    background-color: #333;
    position: relative;
    border-radius: 6px;
}

.timeline-content h3 {
    margin-top: 0;
    color: var(--light-text);
}

.timeline-content h4 {
    margin-top: 5px;
    color: var(--accent-color);
}

.timeline-date {
    font-style: italic;
    color: #888;
}




#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; /* Light background to contrast with black particles */
    top: 0;
    left: 0;
    z-index: -1; /* Ensure particles are behind your content */
  }
  
  /* Ensure your main content is above the particles */
  main, header, footer {
    position: relative;
    z-index: 1;
  }